<div
  class="overflow-hidden rounded-2xl border border-gray-100 bg-white dark:border-gray-800 dark:bg-white/[0.03]"
>
  <div class="max-w-full overflow-x-auto">
    <div class="min-w-[1026px]">
      <!-- table header start -->
      <div class="grid grid-cols-11 px-5 py-3">
        <div class="flex items-center col-span-2">
          <p class="text-sm font-medium text-gray-700 dark:text-gray-400">#</p>
        </div>
        <div class="flex items-center col-span-3">
          <p class="text-sm font-medium text-gray-700 dark:text-gray-400">
            Product
          </p>
        </div>
        <div class="flex items-center justify-center col-span-2">
          <p class="text-sm font-medium text-gray-700 dark:text-gray-400">
            Quantity
          </p>
        </div>
        <div class="flex items-center justify-center col-span-2">
          <p class="text-sm font-medium text-gray-700 dark:text-gray-400">
            Unit Cost
          </p>
        </div>
        <div class="flex items-center col-span-2">
          <p
            class="w-full text-sm font-medium text-right text-gray-700 dark:text-gray-400"
          >
            Total
          </p>
        </div>
      </div>
      <!-- table header end -->

      <!-- table body start -->
      <!-- table item -->
      <div
        class="grid grid-cols-11 border-t border-gray-100 px-5 py-3.5 dark:border-gray-800"
      >
        <div class="flex items-center col-span-2">
          <p class="text-gray-500 text-theme-sm dark:text-gray-400">1</p>
        </div>
        <div class="flex items-center col-span-3">
          <p class="text-gray-500 text-theme-sm dark:text-gray-400">
            TailGrids
          </p>
        </div>
        <div class="flex items-center justify-center col-span-2">
          <p class="text-center text-gray-500 text-theme-sm dark:text-gray-400">
            1
          </p>
        </div>
        <div class="flex items-center justify-center col-span-2">
          <p class="text-center text-gray-500 text-theme-sm dark:text-gray-400">
            $48
          </p>
        </div>
        <div class="flex items-center justify-end col-span-2">
          <p class="text-right text-gray-500 text-theme-sm dark:text-gray-400">
            $48
          </p>
        </div>
      </div>

      <!-- table item -->
      <div
        class="grid grid-cols-11 border-t border-gray-100 px-5 py-3.5 dark:border-gray-800"
      >
        <div class="flex items-center col-span-2">
          <p class="text-gray-500 text-theme-sm dark:text-gray-400">2</p>
        </div>
        <div class="flex items-center col-span-3">
          <p class="text-gray-500 text-theme-sm dark:text-gray-400">
            GrayGrids
          </p>
        </div>
        <div class="flex items-center justify-center col-span-2">
          <p class="text-center text-gray-500 text-theme-sm dark:text-gray-400">
            4
          </p>
        </div>
        <div class="flex items-center justify-center col-span-2">
          <p class="text-center text-gray-500 text-theme-sm dark:text-gray-400">
            $300
          </p>
        </div>
        <div class="flex items-center justify-end col-span-2">
          <p class="text-right text-gray-500 text-theme-sm dark:text-gray-400">
            $1200
          </p>
        </div>
      </div>

      <!-- table item -->
      <div
        class="grid grid-cols-11 border-t border-gray-100 px-5 py-3.5 dark:border-gray-800"
      >
        <div class="flex items-center col-span-2">
          <p class="text-gray-500 text-theme-sm dark:text-gray-400">3</p>
        </div>
        <div class="flex items-center col-span-3">
          <p class="text-gray-500 text-theme-sm dark:text-gray-400">Uideck</p>
        </div>
        <div class="flex items-center justify-center col-span-2">
          <p class="text-center text-gray-500 text-theme-sm dark:text-gray-400">
            2
          </p>
        </div>
        <div class="flex items-center justify-center col-span-2">
          <p class="text-center text-gray-500 text-theme-sm dark:text-gray-400">
            $800
          </p>
        </div>
        <div class="flex items-center justify-end col-span-2">
          <p class="text-right text-gray-500 text-theme-sm dark:text-gray-400">
            $1600
          </p>
        </div>
      </div>

      <!-- table item -->
      <div
        class="grid grid-cols-11 border-t border-gray-100 px-5 py-3.5 dark:border-gray-800"
      >
        <div class="flex items-center col-span-2">
          <p class="text-gray-500 text-theme-sm dark:text-gray-400">4</p>
        </div>
        <div class="flex items-center col-span-3">
          <p class="text-gray-500 text-theme-sm dark:text-gray-400">FormBold</p>
        </div>
        <div class="flex items-center justify-center col-span-2">
          <p class="text-center text-gray-500 text-theme-sm dark:text-gray-400">
            2
          </p>
        </div>
        <div class="flex items-center justify-center col-span-2">
          <p class="text-center text-gray-500 text-theme-sm dark:text-gray-400">
            $125
          </p>
        </div>
        <div class="flex items-center justify-end col-span-2">
          <p class="text-right text-gray-500 text-theme-sm dark:text-gray-400">
            $250
          </p>
        </div>
      </div>

      <!-- table body end -->
    </div>
  </div>
</div>
